.mySlides{
	display: none;
}

.previous_btn, .next_btn {
	cursor: pointer;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #0054a6;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next_btn {
	right: 80px;
	border-radius: 3px 0 0 3px;
}

.previous_btn {
	right: 120px;
	border-radius: 3px 0 0 3px;
}

.pause_btn{
	color: #0054a6;
}

.disease-box{
	margin-top: 50px;
	width: 65%;
	float: left;
}

.img-box{
	margin-top: 50px;
	width: 31%;
	float: right;
	text-align: center;
}

.wrapper{
    width: 95%;
    margin: auto;
    padding: 10px;
}


.pubmed-feedback{

}


.pubmed-related{

}

.pubmed-similar{

}


.tweet-date{
	text-align: right;
	float: left;
	padding-left: 30px;
}

.tweet-container{
    padding-bottom: 20px;
}

.tweet-description{
    text-align: justify;
    color: #0054a6;
}
.pubmed-description{
    text-align: justify;

}
.pubmed-container{
    padding-bottom: 10px;
}

.pubmed-title{
    font-weight: bold;
    color: #0054a6;
}

.tweet-feedback{
	text-align: right;
	float: left;
}

a:hover{
	cursor: pointer;
}


.activated{
	color: #ff5700;
}

img {
	display: block;
	max-width:300px;
	max-height:300px;
	width: auto;
	height: auto;
  }

.slide_control{
	text-align: center;
	width: 90%;
	height: 400px;
}